<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nandan Pandey</title>
        <link rel = 'icon' href = "{{ url_for('static', filename='img/fav.png') }}" type="image/png">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>




        <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/v4-shims.js"></script>




        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    </head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>




               {% if s %}
			        <div class="alert alert-success">
				        <h2>{{s}}</h2>
			        </div>
		        {% endif %}



		        {% if us %}
			        <div class="alert alert-danger">
				        <h2>{{us}}</h2>
                    </div>
                {% endif %}
                





              <form action="/login" class="form-signin" method ="POST">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name = "email" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name ="password" required>
                  <label for="inputPassword">Password</label>
                </div>
  
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
            </form>
                <span><p>Are you new contributor ?&nbsp;<a href = "/signup"  style="text-decoration: none;">Sign up &nbsp;</a>here.</p></span>
                
               <p><a href = "/forgot_password"  style="text-decoration: none;">Forgot Password&nbsp;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  
   
</body>

</html>


